<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/api/product-test">Login</a></li>
        </ul>
    </nav>
</header>
<div>
    <h2> Welcome Coder!</h2>
    <form class="product-form" action="/logout" method="POST">
        <button class="btn" type="submit">Logout</button>
    </form>
</div>


</body>
</html>